.shortDescription{
    white-space: nowrap; 
    width: 500px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.table{
    &-title{
        color: red;
    }
}

.published{
    color: deepskyblue;
}

.not-published{
    color: red
}

.delete{
    color: red
}