.post-content{
    &-container{
        display: flex;
        align-items: center;
        justify-content: center
    }
    &-title{
        color: red;
    }
    &-img{
        max-width: 2000px;
        max-height: 2000px;
    }
    &-author{
        padding-top: 30px;
    }
}